@page
@model IceBreak.Pages.guestModel
@{
    ViewData["Title"] = "guest";
}

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/jqueryui/jquery-ui.js"></script>
<script src="~/js/Sortable/Sortable.min.js"></script>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/receive.js"></script>
<h1>請拖拉下列項目排序</h1>
<div id="messagesList" class="list-group col">

</div>
<script>
     var example1 = document.getElementById('messagesList');
      new Sortable(example1, {
        animation: 150,
        ghostClass: 'blue-background-class',
        onUpdate: function (/**Event*/evt) {
            var list = example1.getElementsByTagName("div");
            var result = [];
            for(const li of list){
                result.push(li.textContent);
                //result += ","+li.textContent;
            }
            UpdateSort(result);
            //alert(result);
	    },


    });
</script>

