@page
@model IceBreak.Pages.testModel
@{
    ViewData["Title"] = "test";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div id="result">
    
</div>
  
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chart.js"></script>
